html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #010101;
}

p {
    font-size: 20px;
    text-align: justify;
}

.first-page {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    /* grid-template-rows: repeat(8,1fr); */
    grid-gap: 20px;
    /* justify-content: stretch; */
    background-image: url(./imgs/fon.png);
    background-size: cover;
    /* background-image: center; */
    /* background-repeat: no-repeat; */
    width: 100vw;
    height: 100vh;
}


.header {
    margin: 0;
    margin-top: 30px;
    grid-row: 1/2;
    grid-column: 3/7;
}

.menu {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #DB0866;
}

.main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    /* justify-content: stretch; */
    /* grid-row: 2/7;
    grid-column: 1/8; */

    grid-row: 2/ span 6;
    grid-column: 1/ span 8;
}

.vert-lines {
    grid-row: 1/6;
    grid-column: 1;
    /* padding-left: 80px; */
    justify-self: center;
}

.main-header {
    grid-row: 3/ span 2;
    grid-column: 2/ span 3;
    align-self: center;
    justify-self: end;
    padding-right: 20px;
}

.main-portfolio {
    grid-row: 1/ span 5;
    grid-column: 5;
    justify-self: start;
    align-self: end;
    padding-bottom: 45px;
    padding-left: 20px;
}

.main-name {
    grid-row: 2/ span 2;
    grid-column: 6/ span 3;
    padding-top: 30px;
}

.horiz-lines {
    grid-row: 4;
    grid-column: 5/ span 4;
    justify-self: end;
    padding-right: 75px;
}

h3 {
    font-size: 56px;
    margin: 0;
}

h2 {
    font-size: 60px;
    margin: 0;
}

h1 {
    font-size: 90px;
    margin: 0;
}

.second-page {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, 1fr);
    /* grid-template-rows: repeat(8,1fr); */
    grid-gap: 20px;
    background-image: url(./imgs/fon2.png);
    background-position: top;
    background-size: cover;
    width: 100vw;
    height: 2961px;
}

.about {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    /* justify-content: stretch; */
    /* grid-row: 2/7;
    grid-column: 1/8; */

    grid-row: 2/ span 4;
    grid-column: 1/ span 8;
}

.about-about {
    grid-row: 1/ span 4;
    grid-column: 1/ span 4;
    /* align-self: start; */
    /* justify-self: end; */
    padding-left: 70px;
    padding-right: 30px;
}

.about-features {
    grid-row: 1/ span 4;
    grid-column: 5/ span 4;
    /* align-self: start; */
    /* justify-self: end; */
    padding-right: 70px;
    padding-left: 30px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    grid-row: 6/ span 4;
    grid-column: 2/ span 6;
}

.skills-title {
    grid-row: 1/2;
    grid-column: 3/ span 2;
    /* align-self: start; */
    justify-self: center;
    /* padding-left: 70px;
    padding-right: 30px; */
}

.skills-dia {
    grid-row: 2/ span 3;
    grid-column: 1/ span 6;
    /* align-self: start; */
    justify-self: center;
    /* padding-right: 70px;
    padding-left: 30px; */
}

.projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 20px;
    grid-row: 10/ span 8;
    grid-column: 2/ span 6;
}

.projects-title {
    grid-row: 1/2;
    grid-column: 3/ span 2;
    align-self: center;
    justify-self: center;
    /* padding-left: 70px;
    padding-right: 30px; */
}

.projects-scheme{
    grid-row: 2/ span 7;
    grid-column: 1/ span 6;
    /* align-self: start; */
justify-self: center;
/* padding-right: 70px;
    padding-left: 30px;*/
}

.contacts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    grid-row: 18/ span 2;
    grid-column: 2/ span 6;
}

.contacts-title {
    grid-row: 1/2;
    grid-column: 1/ span 2;
    align-self: end;
    /* justify-self: center; */
    /* padding-left: 70px;
    padding-right: 30px; */
}

.contacts-main {
    grid-row: 2;
    grid-column: 1/ span 3;
    /* align-self: end; */
    /* justify-self: center; */
    /* padding-left: 70px;
    padding-right: 30px; */
}

/* 

.first-page{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 20px;
    background-image: url(./fon.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.header{
    margin: 0;
    margin-top: 40px;
    grid-row: 1/2;
    grid-column: 3/7;
}
.menu{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:aqua;
}

.main{
    display: grid;
    grid-row: 2/8;
    grid-column: 2/8;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
}

.lines{
    grid-row: 1/7;
    grid-column: 1/9;
    padding-left:80px;
}

.main-header{
    grid-row: 3/5;
    grid-column: 2/5;
    padding-left:100px;
}

.main-portfolio{
    grid-column: 5/6;
    grid-row: 1/7;
    padding-top: 120px;
}

.main-name{
    grid-row: 2/4;
    grid-column: 6/9;
}

.lines2{
    grid-row: 5/6;
    grid-column: 6/9;
}

h2{
    font-size: 60px;
    margin: 0;
}

h1{
    font-size: 90px;
    margin: 0;
}



*/